Northwind.Web.WebApplication.Service/Service References/ServiceOrders/NorthwindService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Northwind.Entity.Service.Northwind.ListProductOrders" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Northwind.Entity.Service.Northwind.ListProductOrders" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfListProductOrders">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListProductOrders" nillable="true" type="tns:ListProductOrders" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListProductOrders" nillable="true" type="tns:ArrayOfListProductOrders" />
  <xs:complexType name="ListProductOrders">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Total" type="xs:double" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListProductOrders" nillable="true" type="tns:ListProductOrders" />
</xs:schema>