Northwind.Web.WebApplication.Service/Service References/ServiceOrders/NorthwindService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:18469/NorthwindService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Northwind.Entity.Service.Northwind.ListOfOrders" />
  <xs:import schemaLocation="http://localhost:18469/NorthwindService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Northwind.Entity.Service.Northwind.ListProductOrders" />
  <xs:import schemaLocation="http://localhost:18469/NorthwindService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Northwind.Entity.Service.Northwind.RegisterOfOrders" />
  <xs:element name="ListOfOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListOfOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Northwind.Entity.Service.Northwind.ListOfOrders" minOccurs="0" name="ListOfOrdersResult" nillable="true" type="q1:ArrayOfListOfOrders" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListProductOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListProductOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Northwind.Entity.Service.Northwind.ListProductOrders" minOccurs="0" name="ListProductOrdersResult" nillable="true" type="q2:ArrayOfListProductOrders" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterOfOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Northwind.Entity.Service.Northwind.RegisterOfOrders" minOccurs="0" name="obj" nillable="true" type="q3:RegisterOfOrders" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterOfOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterOfOrdersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>