Northwind.Web.WebApplication.Service/Service References/ServiceOrders/NorthwindService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Northwind.Entity.Service.Northwind.ListOfOrders" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Northwind.Entity.Service.Northwind.ListOfOrders" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfListOfOrders">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListOfOrders" nillable="true" type="tns:ListOfOrders" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListOfOrders" nillable="true" type="tns:ArrayOfListOfOrders" />
  <xs:complexType name="ListOfOrders">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfOrders" nillable="true" type="tns:ListOfOrders" />
</xs:schema>