Northwind.Web.WebApplication.Service/Service References/ServiceOrders/NorthwindService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Northwind.Entity.Service.Northwind.RegisterOfOrders" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Northwind.Entity.Service.Northwind.RegisterOfOrders" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RegisterOfOrders">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Confirmed" type="xs:int" />
      <xs:element minOccurs="0" name="DateConfirmation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterOfOrders" nillable="true" type="tns:RegisterOfOrders" />
</xs:schema>